
[class^="icon-"],
[class*=" icon-"] {
    width:auto;
    line-height: inherit;
    height:auto;

    &:before {
        content: '';
        width: 16px;
        height: 16px;
        line-height: 16px;
        display: inline-block;
        vertical-align: middle;
        background-size: 100%;
    }

    &.icon-text-top:before {
        vertical-align: text-top;
    }
}

@each $title in github, facebook, linkedin, spotify, twitter, bar{
    .icon-#{$title} {
        &:before {
            background-image: url("/assets/images/icons/#{$title}.svg");
        }
    }
}
