---
title: Home page
template: index.hbs
---

<article class="page page-about">

  <h1>About me</h1>

  <h2 class="border-bottom">Hi. My name is Iurii Kozuliak and I’m a <br>
    <strong>Senior Front End Developer</strong> based in <strike>Berlin</strike> Melbourne, Australia</h2>

  <aside class="handheld-block">
    <img src="/assets/images/fotoface.jpg" alt="me"/>
    <a href="/cv_iurii_kozuliak.pdf" class="pull-right hidenav-block pull-right-handheld"> Download CV</a>

    <div class="socials">
      <a class="icon-github" href="https://github.com/iuriikozuliak"></a>
      <a class="icon-facebook" href="https://www.facebook.com/iuriikozuliak"></a>
      <a class="icon-twitter" href="https://twitter.com/kadolya"></a>
      <a class="icon-linkedin" href="http://www.linkedin.com/profile/view?id=198932031&trk=tab_pro"></a>
    </div>

    <h5>Skills:</h5>
    <p>
      HTML, CSS, JavaScript <br />
      ES6/7 and beyond <br />
      SASS, BEM, PostCSS <br />
      React, Redux, Immutable.js <br />
      Node.js, REST APIs, Ruby on Rails <br />
      TDD, Mocha, Tape, Chai <br />
    </p>

    <h5>Free Time:</h5>
    <p>Traveling, table tennis, guitars, photo, sci-fi, hiking, burgers.</p>

  </aside>
  <div class="page-content handheld-block">
    <p>
      I am a 27 years old Ukrainian living and working in beautiful city of Melbourne, Australia.
    </p>

    <p>
      I am an ex-Berliner recently moved to Melbourne to support my lovely wife in her PhD research at Monash University. <br />
      During my stay in the one of best world start-up hub’s I have been involved in a few different projects, 
      in big, well established ‘not-longer-a-startup’ companies but also in a small underfunded but extremely 
      friendly and nice to work with teams.
    </p>

    <p>
      I have been building web applications professionally for over seven years, specialising in modern Front End stack.
      I'm passionate about developing testable, reliable, predictive, efficient, fast and easy-to-use user interfaces.
    </p>

    <p>
      Recently fell in love with functional programming and general idea of UI as a function of app’s state, 
      so now I’m doing Scala course and looking forward to add some ClojureScript flavour to React 
      application with re-frame and reagent in the next project.
    </p>

    <p>
      When I get bored I do some 'Generative Art', 
      like 
      <a href="https://jsbin.com/morihi" target="_blank">morihi</a>
      or 
      <a href="https://jsbin.com/wilekaqeve" target="_blank">wilekaqeve</a> 
    </p>
  
    <p>
      If you are interested in working with me or want to find out more about my work, feel free to
      <a href="mailto:i.kozuliak@gmail.com">contact me</a>.
    </p>
  </div>
  </div>


</article>
