---
title: Labs
slug: test2
collection: pages
template: index.hbs
---

<article class="page page-about">
  <h1>About me</h1>

  <h2 class="border-bottom">Hello. My name is Iurii Kozuliak and i’m <br>
    <strong>Front End Developer</strong> based in Wroclaw, Poland</h2>

  <aside class="handheld-block">
    <img src="/assets/images/fotoface.jpg" alt="me"/>
    <a href="#" class="pull-right hidenav-block pull-right-handheld"> Download CV</a>

    <div class="socials">
      <a class="icon-github" href="https://github.com/ikozuliak"></a>
      <a class="icon-facebook" href="https://www.facebook.com/iuriikozuliak"></a>
      <a class="icon-twitter" href="https://twitter.com/kadolya"></a>
      <a class="icon-linkedin" href="http://www.linkedin.com/profile/view?id=198932031&trk=tab_pro"></a>
      <a class="icon-spotify" href="#"></a>
    </div>
    <h5>Keywords:</h5>

    <p>
      W3C Standards & Accessibility, <br>
      HTML5/CSS3, SASS/Compass/LESS, <br>
      JavaScript/CoffeeScript, jQuery, <br>
      Photoshop, Grunt, Bower, Yeoman, <br>
      Progressive enhancement, <br>
      Cross browser compatibility, Responsiveness, <br>
      Web Design, <br>
      Git, SVN, Commang Line, <br>
      Wordpress, RESTful services. <br>
    </p>

    <h5>Free Time:</h5>

    <p>Traveling and exploring, guitars, photography, <br>
      sci-fi, learning languages.</p>
  </aside>
  <div class="page-content handheld-block">
    <p>
      I’m 23 year old ukrainian guy living and working in great city of Wroclaw.
    </p>

    <p>
      It all started back in 2006 when I created my first web page for my own local ISP. Since that time I
      have
      worked hard for a huge variety of clients, from small design studios to international companies all over
      the
      world.
    </p>

    <p>
      After graduating with Bachelor Degree in 2010 worked as a freelance web developer for a whole year.
      Starting
      to work, especially in low-budget segment, on russian freelance market could be a true nightmare, but I
      got
      excellent communication and problem solving skills. I worked on different projects from Facebook
      applications to large web sites for companies.
      For a few months even was in top 3 best developers on #2 largest russian online workplace.
    </p>

    <p>
      Also I got some experience of backend programming .
      Maybe I’m not an expert on it, but can work with full technology stack, and can either move closer
      toward
      the back-end or to the user interface.
    </p>

    <p>
      In july 2012 I graduated at the Ternopil National University with Master’s Degree, moved to Poland and
      started an Front End Developer at Clearcode. And now I can speak on 4 different languages, well, maybe
      my
      polish is not perfect, but I’m working on it.
    </p>

    <p>
      I’m enjoing the process of turning great design into precise layouts, write the code necessary for
      pixel-perfect UI/UX and bridging the gap between designers and developers.
    </p>

    <p>
      If you are interested in working with me or want to find out more about my work, feel free to
      <a href="mailto:i.kozuliak@gmail.com">contact me</a>
    </p>
  </div>
  </div>


</article>
